@{
    ViewData["Title"] = "Toy Story";
}
<link rel="stylesheet" href="~\css\home2.css" />


<div class="quadro_principal">
    <div class="quadro">
        <div class="primeira_linha">
            <img class="logo" src="~/img/logo.png"/>
            <h2 class="titulo">Bem vindo ao CRUD de Toy Story</h2>
        </div>
        <div class="segunda_linha">
            <p class="descricao" style="text-align:justify">
                Toy Story é um filme americano de animação, aventura e comédia. É conhecido por ser o primeiro filme da história do cinema a ter sido compilado inteiramente por ferramentas de computação gráfica.
                A história se passa num mundo onde os brinquedos têm a vida e fingem ser inanimados quando os humanos estão por perto, com o enredo centrando-se na relação entre Woody, um velho boneco caubói a corda, e Buzz
                Lightyear, um moderno brinquedo espacial.
            </p>           
        </div>
        <div class="terceira_linha">
            <div class="botao_criar">
                <h5>Você pode começar criando um novo personagem</h5>
                <a class="btn btn-outline-primary" asp-area="" asp-controller="Personagens" asp-action="Create">Criar Personagem</a>
            </div>
            <div class="botao_lista">
                <h5>Ou também pode ver a lista de personagens criados</h5>
                <a class="btn btn-outline-primary" asp-area="" asp-controller="Personagens" asp-action="Index">Ver Personagem</a>
            </div>
            <div class="imagem_personagens">
                <img src="~/img/personagens.png" />
            </div>
        </div>
    </div>
</div>